$primary-blue: #2D80F8;
$light-blue: #E4EFFF;
$sky-blue: #C4D5EF;
$white: #FFFFFF;
$dark-gray: #7C8090;
$light-gray: #DDDDDD;
$white-gray: #F4F4F4;
$brown-yellow: #cc6d00;
$pink: #fcd9c2;
$light-pink: #fcf8e4;
$black: #202330;